node_modules/
.expo/
dist/
build/
ios/
android/
*.log
.DS_Store
.claude/
.codex/
.cursor/

.env
.env.local

# Local Netlify folder
.netlify

# Bygge- og arbejdsmapper
dist/
.bundle-ud/
.klargoer/
.hent/
.adgangskode.tmp
